@model veteriner.Models.detay
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contanier">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="=form-group">
                    <label>Hasta Adı</label>
                    <input type="text" name="Hasta_ad" class="form-control" value="@Model.Hasta_ad" />
                </div>

                <div class="=form-group">
                    <label>Önceki Fotoğraf</label>
                    <img src="~/Content/images/@Model.foto" width="80" height="80" />
                </div>

                <div class="=form-group">
                    @Html.Label("Fotoğraf", new { @class = "control-label col-md-2" })
                    <input type="file" name="File"  />
                </div>

                <div class="=form-group">
                    <label>Sahip Adı</label>
                    <input type="text" name="Sahip_ad" class="form-control"value="@Model.Sahip_ad"  />
                </div>

                <div class="=form-group">
                    <label>Cins</label>
                    <input type="text" name="Cins" class="form-control"value="@Model.Cins"  />
                </div>

                <div class="=form-group">
                    <label>Tanı</label>
                    <input type="text" name="Tani" class="form-control"value="@Model.Tani"  />
                </div>
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <a href="/hasta/Index">Hasta Listesi</a>
            </form>
        </div>
    </div>
</div>